body {
    font-family: 'Open Sans Condensed', sans-serif;
}

header,
footer {
    text-align: center;
    font-size: 24px;
}

header li,
footer li {
    display: inline;
    text-decoration: none;
    margin-right: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

article {
    text-align: center;
    font-size: 24px;
}

h1 {
    font-size: 36px;
}

article img {
    width: 400px;
    height: 400px;
}